/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.mb-0 {
  margin-bottom: 0px;
}
.mt-0 {
  margin-top: 0px;
}
.ml-0 {
  margin-left: 0px;
}
.mr-0 {
  margin-right: 0px;
}
.p-16 {
  padding: 16px;
}
.p-4 {
  padding: 4px;
}

.otp-input {
  display: flex;
}

.otp-input input {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0 5px;
  background: #f3f3f3;
}

.tasks-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 29px;
  font-size: 1.3rem;
}
.task-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.task-count {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.ion-badge-outline {
  background: #3880ff;
  border-radius: 16px;
  color: #fff;
  padding: 4px 8px;
  margin-left: 10px;
}

.status-text-completed {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 10px;
}
.status-text-not-started-yet,
.status-text-blocked,
.status-text-pending-submission {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 10px;
}
.status-text-inprogress {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 10px;
}
.status-text-new {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  padding: 4px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-left: 10px;
}

.record-text {
  color: grey;
  font-size: 0.9rem;
}

.phone-input {
  width: 100%;
  height: 20%;
  background-color: #f3f3f3;
  height: 5vh;
  border: 2px solid #f3f3f3;
  margin-top: 20px;
  border-radius: 10px;
  min-height: 5vh;
}
.country-select-box {
  background: #f3f3f3;
  height: 5vh !important;
  margin-top: 23px;
  border-radius: 10px;
  flex-basis: 22%;
  font-size: 2rem;
}

ion-button.prev-next-button {
  border-radius: 10px; /* Adjust as needed */
}
.card-title {
  padding-inline: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.button-container {
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px; /* Add padding for spacing */
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
  align-items: center; /* Center buttons horizontally */
}
.button-container .signup-login-button {
  width: 100% !important; /* Make the buttons span the full width */
  margin: 8px 0; /* Add margin for spacing between buttons */
  height: 50px;
}

.tasks-tab {
  border-radius: 11px;
  background: #f3f3f3;
  border: 2px solid hsl(0, 0%, 95%);
  margin-top: 10px;
}
.tasks-tab-content {
  border-radius: 11px;
  background: #fff;
  color: #000;
  border: 2px solid;
  font-size: 11px;
}
.task-tab-link{
  font-size: 11px;
}

.label-with-margin {
  /* margin-left: 20px;  */
  font-weight: 500;
  font-size: 1.3rem;
}

.no-padding-margin {
  margin: 0px;
  padding: 0px;
}
.save-icon {
  font-size: 36px;
  color: #fff;
  cursor: pointer;
}
.tap-save-icon {
  font-size: 36px;
  color: #000;
  cursor: pointer;
}
.tap-save-container {
  border-radius: 50%;
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* 100% of the viewport height */
  gap: 10px;
}

.button-login-success {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.button-container-completed {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: absolute;
  bottom: 50px;
  gap: 10px; /* Adjust the spacing between buttons as needed */
}

.mytask-segment-content {
  display: flex;
  align-items: center; /* Align content vertically in the center */
  gap: 4px;
}
.mytask-segmnet-badge {
  border-radius: -9px;
  display: inline-block;
  border-radius: 50%;
  background-color: #3171e0;
  padding: 4px 7px;
  color: white;
  text-align: center;
}

.mytask-segment-text {
  flex-grow: 1; /* Allow the text to grow and take up available space */
}

.capitalize {
  text-transform: capitalize;
}
ion-button {
  text-transform: capitalize;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.icon {
  width: 35px;
  height: 35px;
  background-color: #f3f3f3; /* Grey background */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000; /* Black icon color */
}

ion-icon {
  font-size: 16px;
}

.black-circle-checkbox {
  --border-radius: 50%; /* Make the checkbox a circle */
  --background: #000; /* Black background color */
  --inner-background: #fff; /* White inner circle color when checked */
  --border: 2px solid #000; /* Black border color */
}
.no-border {
  --border-width: 0; /* Remove the bottom border */
  --border-color: transparent; /* Set the border color to transparent */
  --highlight-color-focused: transparent; /* Remove focus color */
  --highlight-color-focused-background: transparent; /* Remove focus background color */
}

.navigation-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  bottom: 0;
}

label {
  font-weight: 600;
  font-size: 1.4rem;
}

.phone-select-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.clickable-cursor {
  cursor: pointer;
}

.image-container {
  height: 200px;
  overflow: hidden;
  border-radius: 5px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-upload-container {
  justify-content: center;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eeeeee;
}
.success-toast {
  position: absolute;
  top: 50px; /* Adjust the top position according to your needs */
  left: 50%; /* Adjust the left position if needed */
  transform: translateX(-50%); /* Center horizontally */
}
.report-issue-fab {
  position: absolute;
  bottom: 60px;
  right: 10px;
  cursor: pointer;
}
.outline-fab-button {
  width: 32px;
  height: 32px;
}
.outline-fab-button:hover::before {
  content: 'Report an Issue';
  display: inline-block;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: -35px;
  right: 0;
}
.receipt-container{
  height: 212px;
  background: #eeee;
  
}
.receipt-container img{
  display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media only screen and (min-width: 992px) {
  html {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
  }

  body {
    width: 420px;
    margin: auto;
    background-color: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 12px;
    height: 90%;
  }

  #hidden-end + div {
    position: unset !important;
  }
}
