.tasks-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 29px;
    font-size: 1.3rem;
}
.task-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.task-count{
    display: flex;
    flex-direction: column;
   align-items: flex-start;
}
.ion-content {
    /* --ion-padding-start: 20px; */
  }