.tasks-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}
.task-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: larger;
}
.task-count{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
}
.ion-content {
    /* --ion-padding-start: 20px; */
  }